@import "tailwindcss";
@import "leaflet/dist/leaflet.css";


:root {
    color-scheme: light dark;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

/* Light mode default */
html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100dvh;
    background: #ffffff;
}


/* Dark mode otomatik */
@media (prefers-color-scheme: dark) {

    html,
    body,
    #root {
        background: #09090b;
    }

}


body {
    overscroll-behavior: none;
}