/* ==========================================
   TRICK RADIKAL POU TOUYE DEZÒD GRI TELEFÒN NAN
   ========================================== */

html {
    background-color: #09090b !important;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #ffffff !important; 
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #09090b !important;
    }
}

/* ==========================================
   KOREKSYON BOTTOM NAV LA
   ========================================== */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    padding-bottom: env(safe-area-inset-bottom, 12px);
    
    /* Light Mòd: Lonbraj la blan */
    box-shadow: 0 100px 0 0 #ffffff !important;
}

@media (prefers-color-scheme: dark) {
    .bottom-nav {
        /* Dark Mòd: Nou mete l egzakteman menm nwa ak bg nan menu an (#121214) 
           oswa nou met background menu an menm koulè ak sa a (#09090b) */
        background-color: #09090b !important;
        box-shadow: 0 100px 0 0 #09090b !important;
    }
}