/* Fòse baz la nwa solid pou evite nenpòt defo */
html {
    background-color: #09090b !important;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #ffffff !important; 
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #09090b !important;
    }
}

/* ==========================================
   KOREKSYON BOTTOM NAV LA (Pwoteksyon anba)
   ========================================== */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    padding-bottom: env(safe-area-inset-bottom, 0px);
    background-color: #09090b !important;
}

/* Trick pou kenbe zòn jès telefòn nan nwa nèt san l pa tounen gri */
.bottom-nav::after {
    content: "";
    position: absolute;
    bottom: -60px;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #09090b !important;
    z-index: -1;
}